repositories:
  - path: "ssh://${BORG_REPO}"

source_directories:
  - /home/caldetas/git/seafile-docker-ce/backup
  - /home/caldetas/git/seafile-docker-ce/data/seafile/seafile-data
  - /home/caldetas/git/seafile-docker-ce/data/seafile/seahub-data
  - /home/caldetas/git/seafile-docker-ce/data/seafile/conf
  - /mnt/nas/seafile-data
  - /mnt/hetzner-box/immich-library/backups
  - /mnt/hetzner-box/immich-library/upload
  - /mnt/hetzner-box/immich-library/profile
  - /mnt/hetzner-box/immich-library/library
  - /mnt/hetzner-box/backup/nixcz/mailcow
  - /mnt/hetzner-box/backup/nixcz/vaultwarden

compression: zstd
encryption_passphrase: "${BORG_PASSPHRASE}"
ssh_command: "${BORG_RSH}"

lock_wait: 600  # 10 minutes, slow hetzner box timeout avoiding

keep_daily: 7
keep_weekly: 4
keep_monthly: 6

checks:
  - name: repository
    frequency: 2 weeks
  - name: archives
    frequency: 1 month